design03/.idea
design03/bin/
design03/out
design03/resource/*.log
design03/resource/*_[0-9].doc
design03/resource/*.pdf
design03/resource/*_[0-9].docx
output.doc
*.class
design03/.settings
.~*.*
mingling.txt